#Chessboard
{
    width: 800px;
    height:800px;
    border:solid red 1px ;
}

.blackBox
{
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
}

.whiteBox
{
    width: 100px;
    height: 100px;
    background-color: white;
    float: left;
}